{% extends 'base.html' %}

{% block title %}
Sign Up Form
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a></a>
    </nav>
</header>
<main>
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ signup_form.as_p }}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
